{% extends 'includes/base.html' %}
{% block content %}
{% load static %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Cyborg</h6>
                  <h4><em>Browse</em> Our Popular Games Here</h4>
                  <div class="main-button">
                    <a href="{% url 'browse' %}">Browse Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular</em> Right Now</h4>
                </div>
                <div class="row">
                {% for g in games  %}
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                    <a href="{% url 'game_detail' g.id %}" >
                    <img src="{{ g.game_logo.url }}" alt="" class="img-fluid"></a>
                      <h4>{{g.game_title}}<br><span>{{g.game_server}}</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> {{g.game_rating}}</li>
                        <li><i class="fa fa-download"></i> {{g.game_category}}</li>
                      </ul>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="slick-btn">
                    <div class="slick-prev slick-arrow-buton sab-4">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="slick-next slick-arrow-buton sab-3">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">Discover Popular</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4>Most Played Games</h4>
              </div>
              {% for g in games  %}
              <div class="item">
                <ul>
                  <li><img src="{{g.game_logo.url}}" alt="" class="templatemo-item"></li>
                  <li><h4>Game Title</h4><span>{{g.game_title}}</span></li>
                  <li><h4>Game Rating</h4><span>{{g.game_rating}}</span></li>
                  <li><h4>Game Type</h4><span>{{g.game_category}}</span></li>
                  <li><div class="main-border-button border-no-active"><a href="{% url 'game_detail' g.id %}">Play</a></div></li>
                </ul>
              </div>
             {% endfor %}
            <div class="col-lg-12">
              <div class="main-button">
                <a href="profile.html">View Your Library</a>
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}